.main-container{
    background-color:#E6E5E6;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.Selected-container{
    padding:15px;
    border-radius: 10px;
    height: fit-content;
    background-color: #D6CCCC;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
#showName{
    background-color:black;
    color: white;
    padding: 5px;
    margin:5px;
    border-radius: 5px;
}
.random{
    background-color: black;
    padding:7px;
    margin: 5px;
    color: white;
    border-radius: 5px;
}
#chose1{
    padding:8px;
    margin: 5px;
    color:green;
    border-radius:4px;
    border: none;
}
#chose2{
    padding:8px;
    margin: 5px;
    color:purple;
    border-radius:4px;
    border: none;
}

@media (max-width:776px) {
  .main-container{
     display: grid;
     grid-template-columns:auto;
     }
}
@media (max-width:1000px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (max-width:776px) {
   .product-container{
    display: grid;
    grid-template-columns: auto;
   } 
}