.main-container{
    background-color:#E6E5E6;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.sitebar-container{
    background-color: #E6E5E6;
    padding:15px;
    border-radius: 10px;
}

@media (max-width:776px) {
  .main-container{
     display: grid;
     grid-template-columns:auto;
     }
}
@media (max-width:1000px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (max-width:776px) {
   .product-container{
    display: grid;
    grid-template-columns: auto;
   } 
}