.fast-ans{
    width: 90%;
    margin:15px auto;
    background-color: black;
    color: white;
    padding:20px;
    border-radius: 10px;
}
.secend-ans{
    width: 90%;
    margin:15px auto;
    background-color: black;
    color: white;
    padding:20px;
    border-radius: 10px;
}